body {
  display: flex;
  background-color: rgb(185, 255, 142);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 3rem;
  }

  p {
    font-size: 1.5rem;
  }

  #func p {
    white-space: pre-line;
    color: red;
    background-color: aliceblue;
    border: solid red;
  }

  #side {
    white-space: pre-line;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-area: 1/2/1/2;
    gap: 0.5rem;
  }
}
